{% extends "master.html" %}

{% block content %}
    {% load group_by %}
    <div class="container-fluid" align="center">
        <h1>اتاق‌های اقامتگاه شما</h1>
        {% for room_group in object_list|add_str:'add'|group_by:3 %}
            {% if room_group == 'add' %}
            <div class="row">
                {% for room in room_group %}
                    <div class="col-md-4 mb-3">
                        <div class="card h-100 mx-1">
                            <img class="card-img-top" src="/static/images/no_image.png" alt="اتاق">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ room.number }}</h5>
                                <p class="card-text">{{ room.room_type.type_name }} </p>
                                <a href="{% url 'habitats:room_detail' habitat_pk=room.room_type.habitat.pk room_pk=room.pk %}" class="btn btn-primary mt-auto">مشاهده‌ی نوع اتاق</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% empty %}
            No articles yet.
        {% endfor %}
    </div>
    <script src="/static/Translator.js"></script>
{% endblock %}