{% extends "form.html" %}

{% block form_content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
    {% if form.amount_required > 0 %}
    <div class="row">
        <a href="{% url 'accounts:deposit' %}" class="btn btn-primary">شارژ حساب</a>
    </div>
    {% endif %}
{% endif %}
{% endblock form_content %}

