{% extends "master.html" %}

{% load static %}

{% load autocomplete %}

{% load group_by %}

{% block content %}
    <head>
        <style>
            .row {
                padding-top: 20px;
            }

            .card-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        </style>
    </head>

    <a href="{% url 'reservation:search' %}?persons={{ form.persons.value }}&from_date={{ form.from_date.value }}&to_date={{ form.to_date.value }}&division={{ form.division.value }}"
       class="btn btn-info mt-auto mb-1">بازگشت به صفحهٔ جستجو</a>
    <br><br>
    <div class="container" align="right" id="features">
        <div class="row" id="properties">
            <div class="col-lg-5">
                <h2>اقامتگاه {{ habitat.name }}
                    {% if is_urgent %}
                        <button type="button" class="btn btn-danger">فوری</button>
                    {% endif %}
                </h2>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>شهر</td>
                        <td>{{ habitat.town }}</td>
                    </tr>
                    <tr>
                        <td>آدرس</td>
                        <td>{{ habitat.address }}</td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td>صاحب</td>
                        <td>{{ habitat.owner }}</td>
                    </tr>
                    </tbody>
                </table>

                <p>{{ description }}</p>

                <br>
                <h5>مکان‌های گردشگری نزدیک اقامتگاه</h5>

                {% for distance in distances %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                    {% endif %}

                <div class="col-lg-6">
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td>
                                <a href="{% url 'places:place_detail' place_pk=distance.place_id %}">{{ distance.place.name }}</a>
                            </td>
                            <td>{{ distance.distance }} کیلومتر</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% if not forloop.counter0|divisibleby:2 or forloop.last %}
                    </div>
                {% endif %}

                {% empty %}
                    <h6>هنوز مکان گردشگری نزدیکی برای این اقامتگاه ثبت نشده است.</h6>

                {% endfor %}

            </div>

            <div class="col-lg-1">
            </div>

            <div class="col-lg-6">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for img in images %}
                            {% if forloop.counter == 1 %}
                                <li data-target="#carousel"
                                    data-slide-to={{ forloop.counter0 }} class="active"></li>
                            {% else %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }}></li>
                            {% endif %}
                        {% endfor %}
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        {% if images %}
                            {% for img in images %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item carousel-item-habitat-detail active"
                                         style="background-image: url({{ img.image.url }})">
                                {% else %}
                                    <div class="carousel-item carousel-item-habitat-detail"
                                         style="background-image: url({{ img.image.url }})">
                                {% endif %}
                            </div>
                            {% endfor %}

                        {% else %}
                            <div class="carousel-item carousel-item-habitat-detail active"
                                 style="background-image: url(
                                         {% if habitat.photo %}{{ habitat.photo.url }}{% else %}'/static/images/no_hotel.jpg'{% endif %})">
                            </div>
                        {% endif %}

                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>

        <hr>
    </div>

    <div class="row">
        <div id="sidebar-wrapper" class="col-3" style="padding-right: 90px;">
            <br><br>
            <form method="GET" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="id_from_date" class="col-form-label">آغاز سفر</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if form.from_date.errors %}is-invalid{% endif %}"
                               id="id_from_date"
                               name="from_date" autocomplete="off" required value="{{ form.from_date.value }}">
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.from_date.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_to_date" class="col-form-label">پایان سفر</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if form.to_date.errors %}is-invalid{% endif %}"
                               id="id_to_date"
                               name="to_date" autocomplete="off" required value="{{ form.to_date.value }}">
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.to_Date.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_persons" class="col-form-label">تعداد مسافران</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control {% if form.persons.errors %}is-invalid{% endif %}"
                               id="id_persons"
                               name="persons" value="{{ form.persons.value }}">
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.persons.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    {#                    <label for="id_division" class="col-form-label">مقصد</label>#}
                    <div class="col-sm-10" hidden>
                        {% divisions_autocomplete_input default_value=form.division.value default_value_name=division_name errors=form.division.errors %}
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.division.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-outline-primary" id="search">
                            جستجو
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div id="list_of_ads" class="col-8">

            <div class="container" align="right" id="features">
                <h2>اتاق‌ها</h2>

                {% for type in room_types %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row" align="center">
                    {% endif %}

                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        {% if type.photo %}
                            <a href="#"><img class="card-img-top" src="/media/{{ type.photo }}" alt=""></a>
                        {% else %}
                            <a href="#"><img class="card-img-top" src="/static/images/no_room1.png" alt=""></a>
                        {% endif %}
                        <h4 class="card-header">{{ type.type_name }}</h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>ظرفیت</td>
                                <td>{{ type.capacity_in_person }}</td>
                            </tr>
                            <tr>
                                <td>قیمت یک شب:</td>
                                <td>{{ type.cost_per_night }}</td>
                            </tr>
                            <tr>
                                <td>امکانات:</td>
                                <td>
                                    {% for feature, state in type.items %}
                                        {% if 'has_' in feature %}
                                            {% if state %}
                                                <span class="badge badge-success">✔ {{ feature }}</span>
                                            {% else %}
                                                <span class="badge badge-danger">✘ {{ feature }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>سایر توضیحات:</td>
                                <td>{{ type.details }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <br><br>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">رزرو اتاق</a>
                        </div>

                    </div>
                </div>

                {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}

                {% empty %}
                    <h4>متاسفانه اتاقی برای این اقامتگاه با فیلترهای داده شده یافت نشد.</h4>
                {% endfor %}

            </div>
        </div>
    </div>

    <script src="/static/Translator.js"></script>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'datepickers.js' %}"></script>
{% endblock %}
