{% extends "master.html" %}

{% load static %}

{% load autocomplete %}

{% load group_by %}

{% block content %}
    <div class="row">
        <div id="sidebar-wrapper" class="col-3" style="padding-right: 50px;">
            <form method="GET" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="id_from_date" class="col-form-label">آغاز سفر</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if form.from_date.errors %}is-invalid{% endif %}"
                               id="id_from_date"
                               name="from_date" autocomplete="off" required value="{{ form.from_date.value }}">
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.from_date.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_to_date" class="col-form-label">پایان سفر</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control {% if form.to_date.errors %}is-invalid{% endif %}"
                               id="id_to_date"
                               name="to_date" autocomplete="off" required value="{{ form.to_date.value }}">
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.to_Date.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_persons" class="col-form-label">تعداد مسافران</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control {% if form.persons.errors %}is-invalid{% endif %}"
                               id="id_persons"
                               name="persons" value="{{ form.persons.value }}">
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.persons.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_division" class="col-form-label">مقصد</label>
                    <div class="col-sm-10">
                        {% divisions_autocomplete_input default_value=form.division.value default_value_name=division_name errors=form.division.errors %}
                    </div>
                    <div style="text-align: right;color: brown">
                        {% for error in form.division.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-outline-primary" id="search">
                            جستجو
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div id="list_of_ads" class="col-8" style="padding-left: 50px; padding-right: 50px">
            {% for habitat_group in habitats|group_by:3 %}
                <div class="row">
                    {% for habitat in habitat_group %}
                        <div class="col-md-4 mb-3">
                            <a class="card h-100 mx-1" align="center" style="text-decoration: none;color: inherit"
                               href="{% url 'reservation:habitat' habitat_pk=habitat.pk %}?persons={{ form.persons.value }}&from_date={{ form.from_date.value }}&to_date={{ form.to_date.value }}">
                                <img
                                        class="card-img-top" src="



                                        {% if habitat.photo %}{{ habitat.photo.url }}{% else %}{% static 'images/no_hotel.jpg' %}{% endif %}"
                                        alt="کاخ">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ habitat.name }}</h5>
                                    <p class="card-text">{{ habitat.address }} </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
                اقامتگاهی با شرایط ذکر شده موجود نیست.
            {% endfor %}
        </div>


        {#        <div class="col-lg-4 mb-4">#}
        {#            <div class="form-group row mb-0">#}
        {#                <div class="col-md-8 offset-md-4">#}
        {#                    <button type="button" class="btn btn-outline-primary" onclick="searchAds('prev')">#}
        {#                        صفحهٔ قبل#}
        {#                    </button>#}
        {#                    <button type="button" class="btn btn-outline-primary" onclick="searchAds('next')">#}
        {#                        صفحهٔ بعد#}
        {#                    </button>#}
        {#                </div>#}
        {#            </div>#}
        {#            <br>#}
        {#            <div class="form-group row">#}
        {#                <label for="page" class="col-form-label">برو به صفحهٔ</label>#}
        {#                <div class="col-sm-4">#}
        {#                    <input type="number" class="form-control" id="page"#}
        {#                           name="page"#}
        {#                           dir="rtl" width="5">#}
        {#                </div>#}
        {#                <button type="button" class="btn btn-outline-primary">#}
        {#                    برو#}
        {#                </button>#}
        {##}
        {#            </div>#}

        <br>

    </div>
{% endblock content %}

{% block extra_script %}
    <script src="{% static 'datepickers.js' %}"></script>
{% endblock %}