{% extends "master.html" %}
{% load static %}

{% block content %}
    <button onclick="window.location='{% url 'reservation:habitat' habitat_pk=reservation.room.habitat_id %}'+window.location.search;"
            class="btn btn-info">بازگشت به صفحهٔ جزئیات اقامتگاه
    </button>
    <br><br>

    {% if message %}
        <div class="container" align="center" id="features">
            <h2>{{ message }}</h2>
        </div>

    {% else %}
        <div class="container" align="right" id="features">
            <div align="right" id="features">
                {% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="custom_errors">
                        <ul>
                            {% for error in errors %}
                                <strong>خطاهای زیر پیش آمده:</strong>
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}

                <div class="card">
                    <h4 class="card-header">ثبت نظر برای رزرو اتاق
                    {{ reservation.room }}</h4>
                    <br>
                    <form method="post" enctype="multipart/form-data" action="">
                        <div class="form-row" style="padding-right: 30px;margin-bottom: 20px">
                            {% csrf_token %}

                            <label for="rating" class="col-auto col-form-label text-md-right">امتیاز:</label>
                            <div class="col-auto">
                                <select class="form-control" id="rating" name="rating">
                                    <option value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                            <label for="review" class="col-auto col-form-label text-md-right">توضیحات:</label>
                            <div class="col-auto">
                                <textarea type="number" class="form-control" id="review" name="review"></textarea>
                            </div>

                            <label for="image" class="col-auto col-form-label text-md-right">تصاویر:</label>
                            <div class="col-auto">
                                <input type="file" class="form-control" id="image" name="image" accept="image/*"
                                       multiple
                                       style="width: 250px"/>
                            </div>

                            <label for="video" class="col-auto col-form-label text-md-right">ویدیوها:</label>
                            <div class="col-auto">
                                <input type="file" class="form-control" id="video" name="video" accept="video/*"
                                       multiple
                                       style="width: 250px"/>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-11" align="left">
                                <button type="submit" class="btn btn-primary" id="submit_button">
                                    ثبت نظر
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="/static/Translator.js"></script>
{% endblock %}