{% extends "master.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" href="/static/Panels.css">
        <title>دیوار</title>
    </head>
    <body onload="searchAds()"></body>

    <div id="wrapper" class="row" style="padding-bottom:20px;">

        <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
            <form method="GET" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="title" class="col-form-label">عنوان&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title"
                               name="title"
                               dir="rtl">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="select1" class="col-form-label">دسته‌بندی سطح ۱</label>
                    <div class="col-sm-5 ">
                        <select class="form-control" id="select1" name="select1" dir="rtl">
                            <option value="">---------</option>
                            {% for category in cats %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="select2" class="col-form-label">دسته‌بندی سطح ۲</label>
                    <div class="col-sm-5 ">
                        <select class="form-control" id="select2" name="select2" dir="rtl">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-form-label">دسته‌بندی سطح ۳</label>
                    <div class="col-sm-5 ">
                        <select class="form-control" id="category" name="category" dir="rtl">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price_low" class="col-form-label">قیمت از</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="price_low"
                               name="price_low" min="-1"
                               dir="ltr">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price_high" class="col-form-label">قیمت تا</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="price_high"
                               name="price_high" min="-1"
                               dir="ltr">
                    </div>
                </div>

                <table class="table">
                    {{ images }}
                </table>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="button" class="btn btn-outline-primary" id="search" name="search"
                                onclick="searchAds('search')">
                            جستجو
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div id="list_of_ads" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
        </div>

        <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
        </div>

        <div class="col-lg-4 mb-4">
            <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                    <button type="button" class="btn btn-outline-primary" onclick="searchAds('prev')">
                        صفحهٔ قبل
                    </button>
                    <button type="button" class="btn btn-outline-primary" onclick="searchAds('next')">
                        صفحهٔ بعد
                    </button>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="page" class="col-form-label">برو به صفحهٔ</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="page"
                           name="page"
                           dir="rtl" width="5">
                </div>
                <button type="button" class="btn btn-outline-primary">
                    برو
                </button>

            </div>

            <br>

        </div>

    </div>

{% endblock content %}

