{% extends "master.html" %}

{% block content %}
    <div class="row">
        <div id="sidebar-wrapper" class="col-3" style="padding-right: 50px;">
            <form method="GET" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="title" class="col-form-label">عنوان&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title"
                               name="title"
                               dir="rtl">
                    </div>
                </div>

                <table class="table">
                    {{ images }}
                </table>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="button" class="btn btn-outline-primary" id="search" name="search"
                                onclick="searchAds('search')">
                            جستجو
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div id="list_of_ads" class="col-8" style="padding-left: 50px; padding-right: 50px">
        {% for habitat in habitats %}
            {{ habitat.name }}
            {% endfor %}
        </div>


{#        <div class="col-lg-4 mb-4">#}
{#            <div class="form-group row mb-0">#}
{#                <div class="col-md-8 offset-md-4">#}
{#                    <button type="button" class="btn btn-outline-primary" onclick="searchAds('prev')">#}
{#                        صفحهٔ قبل#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-outline-primary" onclick="searchAds('next')">#}
{#                        صفحهٔ بعد#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#            <br>#}
{#            <div class="form-group row">#}
{#                <label for="page" class="col-form-label">برو به صفحهٔ</label>#}
{#                <div class="col-sm-4">#}
{#                    <input type="number" class="form-control" id="page"#}
{#                           name="page"#}
{#                           dir="rtl" width="5">#}
{#                </div>#}
{#                <button type="button" class="btn btn-outline-primary">#}
{#                    برو#}
{#                </button>#}
{##}
{#            </div>#}

            <br>

        </div>
{% endblock content %}

