image: joyzoursky/python-chromedriver:3.7-selenium

services:
  - postgres:latest
  - name: selenium/standalone-firefox
    alias: selenium

variables:
  POSTGRES_DB: kakhneshin
  POSTGRES_USER: kakhneshin
  POSTGRES_PASSWORD: strongpassword

test:
  stage: test
  script:
  - pip install -r requirements.txt
  - export MOZ_HEADLESS=1
  - python manage.py test --settings=kakhneshin.ci_settings


deploy:
  stage: deploy
  script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  - dpl --provider=heroku --app=kakhneshin --api-key=9680d18a-7a90-4d9d-8c88-5e889461c279
  only:
  - master