image: selenium/standalone-firefox

services:
  - postgres:latest

variables:
  POSTGRES_DB: kakhneshin
  POSTGRES_USER: kakhneshin
  POSTGRES_PASSWORD: strongpassword

test:
  stage: test
  script:
  - sudo apt-get update -yq > /dev/null
  - sudo apt-get install -yq virtualenv libpq-dev python3-dev build-essential > /dev/null
  - virtualenv -p /usr/bin/python3 venv > /dev/null
  - source venv/bin/activate
  - pip install -r requirements.txt
  - python manage.py test --settings=kakhneshin.ci_settings


deploy:
  stage: deploy
  script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  - dpl --provider=heroku --app=kakhneshin --api-key=9680d18a-7a90-4d9d-8c88-5e889461c279
  only:
  - master