{% extends "form.html" %}

{% block form_content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                <div class="col-sm-7">
                    {{ field }}
                </div>
            </div>
        {% endfor %}

        <div style="padding-left: 150px">
            <button type="submit" class="btn btn-success btn-lg btn-block" name="submit_button">ثبت</button>
            <a href="{% url 'habitats:habitat_detail' habitat_pk=habitat.id %}" class="btn btn-danger btn-block btn-lg">بازگشت</a>
        </div>

    </form>
{% endblock %}




