{% extends "master.html" %}
{% load static %}

{% block content %}
    <head>
        <style>
            .row {
                padding-top: 20px;
            }

            .card-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        </style>
    </head>

    <a href="{% url 'habitats:room_type_detail' habitat_pk=room_type.habitat_id room_type_pk=room_type.id %}"
       class="btn btn-info mt-auto mb-1">بازگشت به صفحهٔ اتاق</a>
    <a href="{% url 'habitats:habitat_detail' habitat_pk=room_type.habitat_id %}"
       class="btn btn-info mt-auto mb-1">بازگشت به صفحهٔ اقامتگاه</a>

    <div class="container" align="right" id="features">
        <h2>بازه‌های خارج از سرویس بودن اتاق {{ room_type }}</h2>
        <br>
        <div class="card">

            {% if errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="custom_errors">
                    <ul>
                        {% for error in errors %}
                            <strong>خطاهای زیر پیش آمده:</strong>
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="card-header text-right"><h5 class="my-4">جزئیات خارج از سرویس بودن اعمالی را مشخص کنید</h5></div>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="daterange" class="col-sm-3 col-form-label text-md-right">بازهٔ از دسترس خارج
                        بودن</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="daterange" id="daterange" value=""
                               style="width: 200px" required/>
                        <script>
                            $(function () {
                                $('input[name="daterange"]').daterangepicker({
                                    opens: 'left'
                                }, function (start, end, label) {
                                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                                });
                            });
                        </script>
                    </div>

                    <label for="num_of_rooms" class="col-sm-3 col-form-label text-md-right">تعداد اتاق‌های تحت تاثیر
                        قرار گرفته</label>
                    <div class="col-md-3">
                        <input type="number" class="form-control" name="num_of_rooms" id="num_of_rooms" value="1"
                               min="1" required
                               style="width: 75px"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="details" class="col-sm-3 col-form-label text-md-right">توضیحات</label>
                    <div class="col-md-3">
                        <textarea class="form-control" name="details" id="details"></textarea>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-8 offset-md-4">
                            <button type="submit" class="btn btn-primary" id="submit_button"
                                    name="submit_button">
                                اضافه کردن بازه
                            </button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>

    <br><br>

    <div class="container" align="right" id="features">
        <h3>بازه‌های خارج از سرویس ثبت شده</h3>

        {% for out_of_service in out_of_services %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row" align="center">
            {% endif %}

        <div class="col-lg-3 mb-3">
            <div class="card h-100">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>از تاریخ:</td>
                        <td>{{ out_of_service.inclusive_since }}</td>
                    </tr>
                    <tr>
                        <td>تا تاریخ:</td>
                        <td>{{ out_of_service.exclusive_until }}</td>
                    </tr>
                    <tr>
                        <td>تعداد اتاق‌ها:</td>
                        <td>{{ out_of_service.number_of_affected_rooms }}</td>
                    </tr>
                    <tr class="desc">
                        <td>توضیحات:</td>
                        <td>{{ out_of_service.details }}</td>
                    </tr>

                    </tbody>
                </table>
                <br><br>
                <div class="card-footer">
                    <button id="btn-delete{{ out_of_service.id }}" type="button" name="delete"
                            class="btn btn-danger btn-delete" data-id={{ out_of_service.id }} data-toggle="modal"
                            data-target="#myModal" style="margin-top: 5px"
                    >حذف
                    </button>
                </div>

            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" dir="rtl">حذف بازهٔ خارج از سرویس بودن</h4>
                    </div>
                    <div class="modal-body">
                        <p>آیا با حذف این بازه موافقید؟</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">خیر</button>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delete" value="true">
                            <input type="hidden" name="out_of_service_id" id="modal_id">
                            <button type="submit" class="btn btn-success"
                                    style="margin-right: 5px;">بله
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        {% if forloop.counter0|add:1|divisibleby:4 or forloop.counter == ss|length %}
            </div>
        {% endif %}

        {% empty %}
            <h4>هنوز هیچ بازهٔ خارج از سرویسی برای این اتاق ثبت نشده است.</h4>
        {% endfor %}

        <script>
            $(document).ready(function () {
                $(".btn-delete").bind('click', function () {
                    const id = $(this).attr('data-id');
                    $('#modal_id').attr('value', id);
                })
            })

        </script>

    </div>

{% endblock %}