{% extends "form.html" %}

{% block form_content %}
    {% load crispy_forms_tags %}
    {% load autocomplete %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'town' %}
                {{ field|as_crispy_field }}
            {% endif %}
        {% endfor %}
        <div class="form-group">
            <label for="town" class="col-form-label  requiredField">
                شهر<span class="asteriskField">*</span> </label>
            {% divisions_autocomplete_input field_name='town' %}
        </div>
        <button type="submit" class="btn btn-success btn-block btn-lg">ثبت اقامتگاه</button>
        <a href="{% url 'habitats:all' %}" class="btn btn-danger btn-block btn-lg">بازگشت به لیست اقامتگاه‌ها</a>
    </form>
{% endblock %}




