{% extends "master.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block content %}
    <a href="{% url 'habitats:habitat_detail' habitat_pk=habitat.pk %}"
       class="btn btn-info mt-auto mb-1">بازگشت به صفحه‌‌ی اصلی مدیریت اقامتگاه</a>
    <br><br>


    <div class="container">
        <div class="col-12">
            <div class="border border-primary rounded">
                <div class="card">
                    {{ rooms_graph|safe }}
                </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="border border-primary rounded">
                <div class="card">
                    {{ rooms_time_graph|safe }}
                </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="border border-primary rounded ">
                <div class="card">
                    {{ income_graph|safe }}
                </div>
            </div>
        </div>
    </div>




    <script src="/static/Translator.js"></script>
{% endblock %}