{% extends "master.html" %}
{% load static %}

{% block content %}
    {% load group_by %}
    <div class="container-fluid" align="center">
        <div class="card h-100 mx-1 w-75">
            <img class="card-img-top" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'images/no_hotel.jpg' %}{% endif %}" alt="کاخ">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.address }} </p>
                <a href="{% url 'habitats:habitat_update' habitat_pk=object.pk %}" class="btn btn-primary mt-auto mb-1">ویرایش مشخصات اقامتگاه</a>
                <a href="{% url 'habitats:all_room_types' habitat_pk=object.pk %}" class="btn btn-primary mt-auto mb-1">مشاهده‌ی انواع اتاق</a>
                <a href="{% url 'habitats:all_rooms' habitat_pk=object.pk %}" class="btn btn-primary mt-auto mb-1">مشاهده‌ی اتاق‌ها</a>
            </div>
        </div>
    </div>
    <script src="/static/Translator.js"></script>
{% endblock %}