{% extends "master.html" %}

{% block content %}
    {% load group_by %}
    <div class="container-fluid" align="center">
        <h1>اقامتگاه‌های شما</h1>
        {% for habitat_group in object_list|add_str:'add'|group_by:3 %}
            <div class="row">
                {% for habitat in habitat_group %}
                    {% if habitat == 'add' %}
                        <div class="col-md-4 mb-3">
                            <div class="card h-100 mx-1">
                                <img class="card-img-top" src="/static/images/kakhneshin.png" alt="کاخ">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                    <a href="{% url 'habitats:habitat_create' %}" class="btn btn-primary mt-auto">ایجاد
                                        اقامتگاه</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 mb-3">
                            <div class="card h-100 mx-1">
                                <img class="card-img-top" src="/static/images/kakhneshin.png" alt="کاخ">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ habitat.name }}</h5>
                                    <p class="card-text">{{ habitat.address }} </p>
                                    <a href="{% url 'habitats:habitat_detail' habitat_pk=habitat.pk %}"
                                       class="btn btn-primary mt-auto">مشاهده‌ی اقامتگاه</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% empty %}
            No articles yet.
        {% endfor %}
    </div>
    <script src="/static/Translator.js"></script>
{% endblock %}