{% extends "master.html" %}

{% block content %}

    <div id="page-content-wrapper" align="center">

        <div class="container p-5" dir="rtl">
            <div class="row justify-content-center">
                <div class="col-md-6" align="center">

                    <div class="card" style="background: #E0E0E0">
                        <div class="card-header text-right">آیا مطمین هستید که می‌خواهید اقامتگاه
                            {{ object }}
                            را حذف کنید؟
                        </div>

                        <div class="card-body" align="center">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-lg btn-block">
                                    حذف اقامتگاه
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




