{% extends "master.html" %}

{% block content %}

    <div id="page-content-wrapper" align="center">

        <div class="container p-5" dir="rtl">
            <div class="row justify-content-center">
                <div class="col-md-6" align="center">

                    <div class="card" style="background: #E0E0E0">
                        <div class="card-header text-right">آیا مطمین هستید که می‌خواهید اقامتگاه
                            "{{ object }}"
                            را حذف کنید؟</div>

                        <div class="card-body" align="center">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-outline-primary">
                                          حذف اقامتگاه
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <script src="/static/Translator.js"></script>
{% endblock %}




