{% extends "master.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
              crossorigin="anonymous">
        <style>
            .fa-angry.checked {
                color: red;
            }

            .fa-frown.checked {
                color: #ff9505;
            }

            .fa-meh.checked {
                color: #ffdf00;
            }

            .fa-smile.checked {
                color: #98fc34;
            }

            .fa-laugh-beam.checked {
                color: #1da509;
            }

            .not-checked {
                color: grey;
            }
        </style>
    </head>

    {% if prev_form %}
        <a href="{% url 'places:place_search' %}?name={{ prev_form.name }}&division={{ prev_form.division }}"
           class="btn btn-info mt-auto mb-1">بازگشت به صفحهٔ جستجو</a>
    {% else %}
        <a href="{% url 'places:all' %}"
           class="btn btn-info mt-auto mb-1">بازگشت به لیست مکان‌های دیدنی</a>
    {% endif %}
    <br><br>

    <div class="container" align="right" id="features">
        <div class="row" id="properties">
            <div class="col-lg-5">
                <h2>مکان دیدنی {{ place.name }}</h2>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>شهر</td>
                        <td>{{ place.town }}</td>
                    </tr>
                    <tr>
                        <td>آدرس</td>
                        <td>{{ place.address }}</td>
                    </tr>
                    <tr>
                    </tr>
                    </tbody>
                </table>

                <p>{{ description }}</p>

                {% if user_has_edit_access %}
                    <a href="{% url 'places:place_update' place_pk=place.id %}"
                       class="btn btn-primary mt-auto mb-1">ویرایش
                        مشخصات مکان دیدنی</a>
                    <br>
                {% endif %}
            </div>

            <div class="col-lg-1">
            </div>

            <div class="col-lg-6">


                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for img in images %}
                            {% if forloop.counter == 1 %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }} class="active"></li>
                            {% else %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }}></li>
                            {% endif %}
                        {% endfor %}
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        {% if images %}
                            {% for img in images %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item carousel-item-place-detail active"
                                         style="background-image: url({{ img.image.url }})">
                                {% else %}
                                    <div class="carousel-item carousel-item-place-detail"
                                         style="background-image: url({{ img.image.url }})">
                                {% endif %}
                            </div>
                            {% endfor %}

                        {% else %}
                            <div class="carousel-item carousel-item-place-detail active"
                                 style="background-image: url(
                                         {% if place.photo %}{{ place.photo.url }}{% else %}{% static 'images/no_place.jpg' %}{% endif %})">
                            </div>
                        {% endif %}

                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>

        <hr>

        <div align="right" id="features">
            {% if errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="custom_errors">
                    <ul>
                        {% for error in errors %}
                            <strong>خطاهای زیر پیش آمده:</strong>
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="card">
                <h4 class="card-header">ثبت نظر</h4>
                <br>
                <form method="post" enctype="multipart/form-data" action="">
                    <div class="form-row" style="padding-right: 30px;margin-bottom: 20px">
                        {% csrf_token %}

                        <label for="rating" class="col-auto col-form-label text-md-right">امتیاز:</label>
                        <div class="col-auto">
                            <select class="form-control" id="rating" name="rating">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <label for="review" class="col-auto col-form-label text-md-right">توضیحات:</label>
                        <div class="col-auto">
                            <textarea type="number" class="form-control" id="review" name="review"></textarea>
                        </div>

                        <label for="image" class="col-auto col-form-label text-md-right">تصاویر:</label>
                        <div class="col-auto">
                            <input type="file" class="form-control" id="image" name="image" accept="image/*" multiple
                                   style="width: 275px"/>
                        </div>

                        <label for="video" class="col-auto col-form-label text-md-right">ویدیوها:</label>
                        <div class="col-auto">
                            <input type="file" class="form-control" id="video" name="video" accept="video/*" multiple
                                   style="width: 275px"/>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-11" align="left">
                            <button type="submit" class="btn btn-primary" id="submit_button">
                                ثبت نظر
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div id="list_of_comments" class="col-12">

            <div class="container" align="right" id="features">
                <br>
                <h2>نظرات ثبت شده</h2>
                <br>
                {% for comment in comments %}
                    <div class="row" align="center">
                    <div class="col-lg-12 mb-12">
                    <div class="card h-100">
                        <h5 class="card-header date-time">نظر
                            {{ comment.writer.name }}
                            ، ثبت شده در
                            {{ comment.created_at }}</h5>

                        <div class="row">
                            <div class="col-4">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>امتیاز:</td>
                                        <td>
                                            {% if comment.rating %}
                                                {% if comment.rating == 1 %}
                                                    <span class="fas fa-angry checked"></span>
                                                    <span class="fas fa-angry not-checked"></span>
                                                    <span class="fas fa-angry not-checked"></span>
                                                    <span class="fas fa-angry not-checked"></span>
                                                    <span class="fas fa-angry not-checked"></span>
                                                {% elif comment.rating == 2 %}
                                                    <span class="fas fa-frown checked"></span>
                                                    <span class="fas fa-frown checked"></span>
                                                    <span class="fas fa-frown not-checked"></span>
                                                    <span class="fas fa-frown not-checked"></span>
                                                    <span class="fas fa-frown not-checked"></span>
                                                {% elif comment.rating == 3 %}
                                                    <span class="fas fa-meh checked"></span>
                                                    <span class="fas fa-meh checked"></span>
                                                    <span class="fas fa-meh checked"></span>
                                                    <span class="fas fa-meh not-checked"></span>
                                                    <span class="fas fa-meh not-checked"></span>
                                                {% elif comment.rating == 4 %}
                                                    <span class="fas fa-smile checked"></span>
                                                    <span class="fas fa-smile checked"></span>
                                                    <span class="fas fa-smile checked"></span>
                                                    <span class="fas fa-smile checked"></span>
                                                    <span class="fas fa-smile not-checked"></span>
                                                {% else %}
                                                    <span class="fas fa-laugh-beam checked"></span>
                                                    <span class="fas fa-laugh-beam checked"></span>
                                                    <span class="fas fa-laugh-beam checked"></span>
                                                    <span class="fas fa-laugh-beam checked"></span>
                                                    <span class="fas fa-laugh-beam checked"></span>
                                                {% endif %}
                                            {% else %}
                                                امتیازی برای این نظر داده نشده
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>متن نظر:</td>
                                        <td>
                                            {% if comment.review %}
                                                {{ comment.review }}
                                            {% else %}
                                                متنی برای این نظر ثبت نشده
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="col-4">
                                <h6>تصاویر ثبت شده برای این نظر:</h6>
                                {% if comment.photos.all.exists %}
                                    <div id="carousel_photo_{{ comment.id }}" class="carousel slide"
                                         data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for photo in comment.photos.all %}
                                            {% if forloop.counter == 1 %}
                                                <li data-target="#carousel_photo_{{ comment.id }}"
                                                    data-slide-to={{ forloop.counter0 }} class="active"></li>
                                            {% else %}
                                                <li data-target="#carousel_photo_{{ comment.id }}"
                                                    data-slide-to={{ forloop.counter0 }}></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        {% for photo in comment.photos.all %}
                                            {% if forloop.counter0 == 0 %}
                                                <div class="carousel-item carousel-item-place-comment-photo active"
                                                     style="background-image: url({{ photo.photo.url }})">
                                            {% else %}
                                                <div class="carousel-item carousel-item-place-comment-photo"
                                                     style="background-image: url({{ photo.photo.url }})">
                                            {% endif %}
                                        </div>
                                        {% endfor %}

                                        </div>

                                        <a class="carousel-control-prev" href="#carousel_photo_{{ comment.id }}"
                                           role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel_photo_{{ comment.id }}"
                                           role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                    <br>
                                {% else %}
                                    تصویری برای این نظر ثبت نشده است.
                                {% endif %}

                                </div>


                                <div class="col-4">
                                    <h6>ویدیوهای ثبت شده برای این نظر:</h6>
                                    {% if comment.videos.all.exists %}
                                        <div id="carousel_video_{{ comment.id }}" class="carousel slide"
                                             data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% for video in comment.videos.all %}
                                                {% if forloop.counter == 1 %}
                                                    <li data-target="#carousel_video_{{ comment.id }}"
                                                        data-slide-to={{ forloop.counter0 }} class="active"></li>
                                                {% else %}
                                                    <li data-target="#carousel_video_{{ comment.id }}"
                                                        data-slide-to={{ forloop.counter0 }}></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ol>


                                        <div class="carousel-inner" role="listbox">
                                            {% for video in comment.videos.all %}
                                                {% if forloop.counter0 == 0 %}
                                                    <div class="carousel-item carousel-item-place-comment-photo active">
                                                    <video width="320" height="320" controls>
                                                        <source src="{{ video.video.url }}"
                                                                type="video/mp4">
                                                    </video>
                                                {% else %}
                                                    <div class="carousel-item carousel-item-place-comment-photo">
                                                    <video width="320" height="320" controls>
                                                        <source src="{{ video.video.url }}"
                                                                type="video/mp4">
                                                    </video>
                                                {% endif %}
                                            </div>
                                            {% endfor %}

                                            </div>

                                            <a class="carousel-control-prev" href="#carousel_video_{{ comment.id }}"
                                               role="button"
                                               data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel_video_{{ comment.id }}"
                                               role="button"
                                               data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <br>
                                    {% else %}
                                        ویدیویی برای این نظر ثبت نشده است.
                                    {% endif %}

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <br>
                {% empty %}
                    <h4>هنوز نظری برای این مکان دیدنی ثبت نشده است.</h4>
                {% endfor %}

                </div>
                </div>
            </div>
            <script src="/static/Translator.js"></script>
{% endblock %}