body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item-room-detail {
    height: 65vh;
}

.carousel-item-habitat-detail-tiny, .carousel-item-habitat-detail, .carousel-item-place-detail {
    height: 55vh;
}

.carousel-item-place-comment-photo {
    min-height: 1px;
    height: 40vh;
}

@font-face {
    font-family: 'myFont';
    src: url('/static/fonts/IRANSans.ttf');
}

* {
    font-family: 'myFont';
}

input.loadinggif {
    background: url('/static/spinner.gif') no-repeat left center;
    background-size: 30px;
}

#homepage-form label {
    margin-right: 10px;
}

.gtitle {
    font-family: 'myFont' !important;
}

.legendtext {
    font-family: 'myFont' !important;
}

.hovertext text {
    font-family: 'myFont' !important;
}

.g-xtitle text {
    font-family: 'myFont' !important;
}

.g-ytitle text {
    font-family: 'myFont' !important;
}

.xtick text {
    font-family: 'myFont' !important;
}

.ytick text {
    font-family: 'myFont' !important;
}

.selector-text {
    font-family: 'myFont' !important;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}





