body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'myFont';
    src: url('/static/fonts/IRANSans.ttf');
}

* {
    font-family: 'myFont';
}

input.loadinggif
{
       background:
     url('/static/spinner.gif')
     no-repeat
     left center;
    background-size: 30px;
}

#homepage-form label
{
    margin-right: 10px;
}