{% extends "master.html" %}

{% block content %}

    <div class="row">
        <div class="col">
            {% if messages %}
                <ul class="messages" style="list-style-type: none;">
                    {% for message in messages %}
                        <li>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.non_field_errors }}
            <ul class="messages" style="list-style-type: none;">
                {% for field in form %}
                    {% if field.errors %}
                        <li>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </li>

                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            {% block form_content %}{% endblock %}
        </div>
        <div class="col">
        </div>
    </div>
    <script src="/static/Translator.js"></script>
    <script>
        $(".alert-success").delay(4000).slideUp(800, function () {
            $(this).alert('close');
        });
    </script>
{% endblock %}




