<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'habitats:home' %}">کاخ‌نشین</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'users:edit_profile' %}">
              {% if user.member.photo %}
                <img alt="عکس باز نشد" src="{{ user.member.photo.url }}" width="40px" height="100%">
              {% else %}
                <img alt="عکس باز نشد" src="/static/images/no_image.png" width="40px" height="100%">
              {% endif %}
            </a>
          </li>
        {% endif %}
        <li class="nav-item">
          {#          <a class="nav-link" href="/about" id="about">دربارهٔ ما</a>#}
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              پروفایل
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                 style="padding-left: 18px">
              <a class="dropdown-item" href="{% url 'users:change_password' %}">تغییر رمز عبور</a>
              <a class="dropdown-item" href="{% url 'users:edit_profile' %}">تغییر پروفایل</a>
            </div>
          </li>

          {% if user.member.is_habitat_owner %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                مدیریت اقامتگاه
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                   style="padding-left: 18px">
                <a class="dropdown-item" href="{% url 'habitats:all' %}">مشاهدهٔ اقامتگاه‌ها</a>
                <a class="dropdown-item" href="{% url 'habitats:habitat_create' %}">ساخت اقامتگاه</a>
              </div>
            </li>
          {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              {{ user.member.balance }} ریال
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                 style="padding-left: 18px">
              <a class="dropdown-item" href="{% url 'accounts:deposit' %}">شارژ حساب</a>
              <a class="dropdown-item" href="{% url 'accounts:withdrawals' %}">برداشت از حساب</a>
              {% if user.is_staff %}
                <a class="dropdown-item" href="{% url 'accounts:withdrawal_approval' %}">تایید برداشت‌ها</a>
              {% endif %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}" id="logout">خروج</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}" id="login">ورود</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:signup' %}" id="signup">ثبت نام</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>

{% block master_content %}



{% endblock %}
<br><br>
<footer class="py-2 bg-dark fixed-bottom" dir="rtl">
  <div class="container">
    <p class="m-0 text-center text-white">کپی‌رایت: کاخ‌نشین</p>
  </div>
</footer>


{#<script>#}
{#    var loc = document.URL.match(/\/[A-Za-z_]+\//)[0];#}
{#    loc = loc.substring(1, loc.length - 1);#}
{#document.getElementById("testA").innerHTML = loc;#}
{#    if (loc == 'services')#}
{#        document.getElementById("services").className += " active";#}
{#    else if (loc == 'admin' || loc == 'create_service')#}
{#        document.getElementById("admin").className += " active";#}
{#    else if (loc == 'emp' || loc == 'send_email')#}
{#        document.getElementById("emp").className += " active";#}
{#    else if (loc == 'about')#}
{#        document.getElementById("about").className += " active";#}
{#    else if (loc == 'contact_us')#}
{#        document.getElementById("contact_us").className += " active";#}
{#    else if (loc == 'login')#}
{#        document.getElementById("login").className += " active";#}
{#    else if (loc == 'signup')#}
{#        document.getElementById("signup").className += " active";#}
{#    else if (loc == 'FAQ')#}
{#        document.getElementById("faq").className += " active";#}
{#    else if (loc == 'currency_rates')#}
{#        document.getElementById("currency_rates").className += " active";#}
{#    else if (loc == 'homepage' || loc == '') ;#}
{#    else#}
{#        document.getElementById("profile").className += " active";#}
{#</script>#}

{#<div class="container-fluid mt-5" style="height: 45px; background: linear-gradient(to right, #00ffff, #006666);">#}
{#</div>#}



