{% extends "master.html" %}

{% load static %}

{% load autocomplete %}

{% block content %}
    <header>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('/static/images/hotel.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>رزرو اقامت‌گاه</h3>
                        <p>در این جا می‌توانید اقامت‌گاه رزرو کنید.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/static/images/sight.jpeg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>مکان‌های گردشگری</h3>
                        <p>می‌توانید با مکان‌های گردشگری آشنا شوید.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/static/images/house.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>اجارهٔ اقامت‌گاه</h3>
                        <p>می‌توانید اقامت‌گاه خود را اجاره دهید.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <br>
    <div align="right" id="features">
        <div class="card">
            <div class="card-header text-right"><h5 class="my-4">مشخصات سفر خود را انتخاب کنید</h5></div>
            <br>
            <form method="GET" action="{% url 'reservation:search' %}" id="homepage-form">
                <div class="form-row" style="padding-right: 30px;margin-bottom: 20px">
                    <label for="id_from_date" class="col-auto col-form-label text-md-right">آغاز سفر</label>
                    <div class="col-md-2">
                        <input type="text" name="from_date" id="id_from_date" value="" required autocomplete="off"
                               class="textinput textInput form-control"/>
                    </div>
                    <label for="id_to_date" class="col-auto col-form-label text-md-right">پایان سفر</label>
                    <div class="col-md-2">
                        <input type="text" name="to_date" id="id_to_date" value="" required autocomplete="off"
                               class="textinput textInput form-control"/>
                    </div>

                    <label for="persons" class="col-auto col-form-label text-md-right">تعداد مسافران</label>
                    <div class="col-auto">
                        <input type="number" class="textinput textInput form-control" id="persons" name="persons"
                               style="width: 75px" required/>
                    </div>

                    <label for="id_division" class="col-auto col-form-label text-md-right">مقصد</label>
                    <div class="col-md-3">
                        {% divisions_autocomplete_input %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-11" align="left">
                        <button type="submit" class="btn btn-primary" id="submit_button">
                            جستجوی اقامتگاه
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </div>

    <div class="container" align="right" id="features">

        {#      <h1 class="my-4">خدمات ما</h1>#}
        {##}
        {#      <div class="row">#}
        {#        <div class="col-lg-4 mb-4">#}
        {#          <div class="card h-100">#}
        {#            <h4 class="card-header">سرویس‌های گوناگون</h4>#}
        {#            <div class="card-body">#}
        {#              <p class="card-text">کیا پرداخت امکان انجام تراکنش‌های مختلف را برای شما ممکن می‌کند. تنها کافیست سرویس#}
        {#                مورد#}
        {#                نظر خود را انتخاب کرده و وارد کردن اطلاعات و پرداخت هزینه به ریال را انجام دهید.</p>#}
        {#            </div>#}
        {#            <div class="card-footer">#}
        {#              <a href="/services" class="btn btn-primary">اطلاعات بیشتر</a>#}
        {#            </div>#}
        {#          </div>#}
        {#        </div>#}
        {#        <div class="col-lg-4 mb-4">#}
        {#          <div class="card h-100">#}
        {#            <h4 class="card-header">قیمت ارز و تبدیل واحد</h4>#}
        {#            <div class="card-body">#}
        {#              <p class="card-text">شما می‌توانید به راحتی نرخ تبدیل ارزهای مختلف را مشاهده کرده و همچنین از ابزار تبدیل#}
        {#                واحد لحظه‌ای ما استفاده کنید.</p>#}
        {#            </div>#}
        {#            <div class="card-footer">#}
        {#              <a href="/currency_rates" class="btn btn-primary">اطلاعات بیشتر</a>#}
        {#            </div>#}
        {#          </div>#}
        {#        </div>#}
        {#        <div class="col-lg-4 mb-4">#}
        {#          <div class="card h-100">#}
        {#            <h4 class="card-header">ارتباط با مدیر</h4>#}
        {#            <div class="card-body">#}
        {#              <p class="card-text">این امکان برای شما فراهم شده که در هر لحظه از شبانه روز به راحتی با مدیر سایت در تماس#}
        {#                بوده و سوالات و پیشنهادات خود را با وی در میان بگذارید.</p>#}
        {#            </div>#}
        {#            <div class="card-footer">#}
        {#              <a href="/contact_us" class="btn btn-primary">اطلاعات بیشتر</a>#}
        {#            </div>#}
        {#          </div>#}
        {#        </div>#}
        {#      </div>#}


        <br>
        <hr>
        <br>

        <div class="row" id="properties">
            <div class="col-lg-6">
                <h2>ویژگی‌های سامانهٔ ما</h2>
                <p>ویژگی‌های زیر سامانهٔ کاخ‌نشین را یکتا می‌کند:</p>
                <ul>
                    <li>
                        تنوع بالای سرویس‌های ارائه شده
                    </li>
                    <li>تیم جوان و فعال</li>
                    <li>سادگی استفاده</li>
                    <li>پشتیبانی بالا</li>
                    <li>امنیت و حفظ حریم خصوصی کاربران</li>
                </ul>
                <p>ما در کاخ‌نشین تلاش می‌کنیم خدمات خود را به نحوی ارائه کنیم که علاوه بر پاسخگویی به نیاز شما،‌ رضایت
                    و
                    آرامش شما را نیز در بر داشته باشد.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" style="width: 700px; height: 300px;" src="/static/images/booking.jpg"
                     alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
{% endblock content %}

{% block extra_script %}
    <script src="{% static 'datepickers.js' %}"></script>
{% endblock %}