<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>کاخ‌نشین</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/static/Master.css">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/static/Translator.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block extra_head %}
    {% endblock %}

</head>
<body dir="rtl">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'habitats:home' %}">کاخ‌نشین</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'users:edit_profile' %}">
                            {% if user.member.photo %}
                                <img alt="عکس باز نشد" src="{{ user.member.photo.url }}" width="40px" height="100%">
                            {% else %}
                                <img alt="عکس باز نشد" src="/static/images/no_image.png" width="40px" height="100%">
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {#          <a class="nav-link" href="/about" id="about">دربارهٔ ما</a>#}
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            پروفایل
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                             style="padding-left: 18px">
                            <a class="dropdown-item" href="{% url 'users:change_password' %}">تغییر رمز عبور</a>
                            <a class="dropdown-item" href="{% url 'users:edit_profile' %}">تغییر پروفایل</a>
                        </div>
                    </li>

                    {% if user.member.is_habitat_owner %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                مدیریت اقامتگاه
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                                 style="padding-left: 18px">
                                <a class="dropdown-item" href="{% url 'habitats:all' %}">مشاهدهٔ اقامتگاه‌ها</a>
                                <a class="dropdown-item" href="{% url 'habitats:habitat_create' %}">ساخت اقامتگاه</a>
                            </div>
                        </li>
                    {% endif %}

                    {#                    {% if user.is_superuser %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            مکان‌های دیدنی
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                             style="padding-left: 18px">
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'places:all' %}">مدیریت مکان‌های دیدنی</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'places:all' %}">مدیریت مکان‌های دیدنی من</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'places:place_create' %}">ساخت مکان دیدنی</a>
                            <a class="dropdown-item" href="{% url 'places:place_search' %}">جستجوی مکان‌های دیدنی</a>
                        </div>
                    </li>
                    {#                    {% endif %}#}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.member.balance }} ریال
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                             style="padding-left: 18px">
                            <a class="dropdown-item" href="{% url 'accounts:deposit' %}">شارژ حساب</a>
                            <a class="dropdown-item" href="{% url 'accounts:withdrawals' %}">برداشت از حساب</a>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'accounts:withdrawal_approval' %}">تایید
                                    برداشت‌ها</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}" id="logout">خروج</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}" id="login">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:signup' %}" id="signup">ثبت نام</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="container" style="margin-top: 20px;">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</div>


<br><br>
<footer class="py-2 bg-dark" dir="rtl">
    <div class="container">
        <p class="m-0 text-center text-white">کپی‌رایت: کاخ‌نشین</p>
    </div>
</footer>

</body>

{% block extra_script %}
{% endblock %}
</html>