<input type="hidden" id="hidden_division" name="{{ field_name }}" value="{{ default_value }}"/>
<input type="text" list="division_suggestions_list" value="{{ default_value_name }}"
       autocomplete="off"
       id="id_{{ field_name }}" required class="textinput textInput form-control {{ input_class }}"/>
<datalist id="division_suggestions_list">
</datalist>
<script>
    let suggestionMap = {};

    function fetchSuggestions() {
        let $id_{{ field_name}} = $("#id_{{ field_name}}");
        const value = $id_{{ field_name}}.val();
        if (value.length === 0) {
            $('#hidden_division').val(-1);
            return;
        }
        if (value in suggestionMap)
            $('#hidden_division').val(suggestionMap[value]);
        else
            $('#hidden_division').val(-1);
        $("#division_suggestions_list").find('option').remove();
        $id_{{ field_name}}.addClass('loadinggif');
        $.ajax({
            url: '{% url 'habitats:ajax-search-divisions' %}',
            data: {
                'value': value,
                'only_cities': {{ only_cities }}
            },
            dataType: 'json',
            success: function (data) {
                let $id_{{ field_name}} = $("#id_{{ field_name}}");
                if (data.word !== $id_{{ field_name}}.val()) {
                    $id_{{ field_name}}.removeClass('loadinggif');
                    return;
                }
                $division_suggestions_list=$("#division_suggestions_list");
                $division_suggestions_list.find('option').remove();
                if (data.suggestions.length > 0)
                    $('#hidden_division').val(data.suggestions[0].pk);
                for (i in data.suggestions) {
                    if (i > 9) {
                        break;
                    }
                    suggestionMap[data.suggestions[i].name] = data.suggestions[i].pk;
                    const name = data.suggestions[i].name;
                    $division_suggestions_list.append('<option value="' + name + '"/>');
                }
                $id_{{ field_name}}.removeClass('loadinggif');
            },
            error: () => {
                $('#id_{{ field_name}}').removeClass('loadinggif');
            }
        });
    }

    $(document).ready(function () {
        $('#id_{{ field_name}}').on("change paste keyup", fetchSuggestions)
    });
</script>